/*Variables*/
:root {
    font-size: 16px;
    font-family: Consolas;
    --text-primary:aliceblue;
    --text-secondary:#b5d3da;
    --bg-primary: #282A36;
    --bg-secondary: #414450;
    --bg-secondary-hover: #343741;
    --highlight: #8be9fd;
    --transition-speed: 600ms;
    --radius: 3px;
}


body {
    background-color: var(--bg-primary);
    font-family: Consolas;
    color:var(--text-primary);
    overflow-x: hidden;
    align-content: center;
    text-align: center;
}