/* Author: Alexander Ingham */
/*
Possible Color Pallet:
NavBar          #414450
Background	    #282a36	
Current Line	#44475a	
Foreground	    #f8f8f2	
Comment	        #6272a4	
Cyan	        #8be9fd	
Green	        #50fa7b	
Orange	        #ffb86c	
Pink	        #ff79c6	
Purple	        #bd93f9	
Red	            #ff5555	
Yellow	        #f1fa8c	
*/

/*Variables*/
:root {
    font-size: 16px;
    font-family: Consolas;
    --text-primary:aliceblue;
    --text-secondary:#b5d3da;
    --bg-primary: #282A36;
    --bg-secondary: #414450;
    --bg-secondary-hover: #343741;
    --highlight: #8be9fd;
    --transition-speed: 600ms;
    --radius: 3px;
}

/*Overall Content:*/
.bodyHome {
    background-color: var(--bg-primary);
    font-family: Consolas;
    color:var(--text-primary);
    overflow-x: hidden;
}

body::-webkit-scrollbar {    /*Override default scrollbar*/
    width: 0.25rem;
}

body::-webkit-scrollbar-track {    /*Set scrollbar bg*/
    background:var(--bg-primary);
}

body::-webkit-scrollbar-thumb {    /*Override default scrollbar*/
    background: var(--highlight);
}

main {
    margin-left: 4.5rem;
    padding: 1.5rem;
    padding-top:4rem;
}

/*Top Navigation Bar*/
.topbar {
    display:flex;
    background-color: var(--bg-secondary);
    z-index: 2;
    position:fixed;
    width:100%;
}

.topbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    vertical-align: middle;
}

.topbar-nav-item {
    line-height: 30px;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:0;
    background-color: var(--bg-secondary);
    border-bottom: solid 4px var(--bg-secondary);
}

.topbar-nav-item:hover {
    background-color: var(--bg-primary);
    cursor:pointer;
}

.topbar-nav-logo {
    line-height: 30px;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:0;
    background-color: var(--bg-secondary);
    border-bottom: solid 4px var(--bg-secondary);
}

.topbar-nav-link {
    padding:0;
    margin:0;
    color: var(--text-primary);
    text-decoration: none;
}

.toplink-text {
    font-size:16px;
    white-space: nowrap;
}

.topbar li::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--highlight);
    transition: all ease-in-out 550ms;
}

.topbar li:first-child::before {
    opacity: 0;
}

.topbar li:hover::before {
    width: 100%;
}

/*Side Navigation Bar*/
.sidebar {
    position: fixed;
    background-color: var(--bg-secondary-hover);
    z-index: 1;
    top: 0;
    width: 4.5rem;
    height: 100vh;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100%;
}

.sidebar-nav-item {
    position: relative;
    min-width: 4rem;
    width: 100%;
}

.sidebar-nav-item:first-child {
    margin-top: 4rem;
}

.sidebar-nav-link i {
    min-width: 2rem;
    margin: 0 1rem;
}

.sidebar-nav-item-current {
    border-left: solid 3px var(--text-primary)
}

.sidebar-nav-item-current i {
    color: var(--text-primary);
}

.sidebar-nav-item::before {
    content: attr(data-tooltip);
    font-size: 16px;
    position: absolute;
    left: 4.8rem;
    top: -0.45rem;
    border-radius: var(--radius);
    background-color: var(--bg-secondary-hover);
    opacity: 0;
    padding: 0.8rem;
}

.sidebar-nav-item:hover::before {
    opacity: 1;
    left: 5.2rem;
    transition: all 200ms ease-in;
}

/*Bottom Navigation Bar (Mobile Only)*/
.mobilebar {
    position: fixed;
    background-color: var(--bg-secondary-hover);
    z-index: 1;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: auto;
}

.mobilebar-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}


a {
    color:#8be9fd !important;
}
a:hover {
    color:#f1fcff !important;
}

/*--Title SVG--*/
.titleContainer {
    display:flex;
    align-items: center;
    justify-content: center !important;
    min-height: 80vh;
}

#cone {
    opacity:0;
}

#text {
    opacity:0;
}

#bigDot,
#smallDot {
    transition: all 500ms ease;
    transform-origin: 1183.5px 96.5px;
}

.smallDotPermaHover {
    transform:rotate(195deg);
}

.bigDotPermaHover{
    transform:rotate(195deg);
}

.conePermaHover {
    transition: all 1s ease-in;
    transition-delay:500ms;
}

.textPermaHover {
    transition: all 1s ease-in;
    transition-delay:550ms;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    margin:0;
    padding:0;
    padding-left: 3rem;
}

.aboutMeHeader {
    display: flex;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 20px;
    white-space: nowrap;
}

.aboutMeHeader::after {
    content: "";
    display: block;
    position: relative;
    margin-left: 1rem;
    top: 25px;
    height: 2px;
    width: 300px;
    background-color: var(--text-primary);
}

.contentContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.contentContainer .col1 {
    padding-right: 3rem;
    text-align: center;
    width: auto;
    min-width: 50%
}

.aboutText {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
}

.contentContainer .col2 {
    text-align: center;
    width: auto;
    min-width: 50%;
    vertical-align: text-top;
}

.skill {
    text-align: left;
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    background: #414450;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:var(--highlight);
    display: block;
    position: relative;
}
.skill-bar span{
    position: absolute;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;
}
.skill1{
    width: 0%;
    animation: html-fill1 2s forwards;
}
.skill1 .skill-val1 {
    right: 0;
}
@keyframes html-fill1{
    100%{
        width: 90%;
    }
}
.skill2{
    width: 0%;
    animation: html-fill2 2s forwards;
}
.skill2 .skill-val2 {
    right: 0;
}
@keyframes html-fill2{
    100%{
        width: 90%;
    }
}
.skill3{
    width: 0%;
    animation: html-fill3 2s forwards;
}
.skill3 .skill-val3 {
    right: 0;
}
@keyframes html-fill3{
    100%{
        width: 75%;
    }
}
.skill4{
    width: 0%;
    animation: html-fill4 2s forwards;
}
.skill4 .skill-val4 {
    right: 0;
}
@keyframes html-fill4{
    100%{
        width: 65%;
    }
}
.skill5{
    width: 0%;
    animation: html-fill5 2s forwards;
}
.skill5 .skill-val5 {
    right: 0;
}
@keyframes html-fill5{
    100%{
        width: 80%;
    }
}
.skill6{
    width: 0%;
    animation: html-fill6 2s forwards;
}
.skill6 .skill-val6 {
    right: 0;
}
@keyframes html-fill6{
    100%{
        width: 90%;
    }
}
.skill7{
    width: 0%;
    animation: html-fill7 2s forwards;
}
.skill7 .skill-val7 {
    right: 0;
}
@keyframes html-fill7{
    100%{
        width: 55%;
    }
}

.educationContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    margin: 0;
    margin-top: 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--bg-secondary);
}

.educationContainer .col1 {
    text-align: center;
    width: auto;
    min-width: 30%;
    vertical-align: text-top;
    transform: translateX(-15%);
}
.educationContainer .col2 {
    padding-right: 3rem;
    text-align: left;
    width: auto;
    min-width: 70%;
    vertical-align: text-top;
    transform: translateX(15%);
}

.workContainer {
    width: auto;
    margin: 0px auto;
    justify-content: center;
    max-width: 50rem;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.workContainer .inner {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 2rem;
}

.workContainer .inner .col1 {
    text-align: left;
    width: auto;
    max-width: 30%;
    vertical-align: text-top;
    position: relative;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.roleButton {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    display: inline;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 0px 20px 2px;
    border: 0px;
    border-radius: 0px;
    border-left: 2px solid var(--bg-secondary);
    background-color: transparent;
    color: var(--bg-secondary);
    text-align: left;
    white-space: nowrap;
}

.roleButton:hover {
    color: var(--highlight);
}


.fromLeft, 
.fromRight {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.fromLeft.appear, 
.fromRight.appear {
    transform: translateX(0);
    opacity: 1;
}

.fadeIn {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fadeIn.appear {
    opacity: 1;
}


/*Small Screens*/
@media only screen and (max-width: 800px){
    /*Don't display sidebar*/
    .sidebar {
        display: none;
    }

    main {
        margin-left: 0;
        margin-bottom: 4rem;
        padding: 1.5rem;
        padding-top:4rem;
    }

}

/*Large Screens*/
@media only screen and (min-width: 800px){

    /*Don't display bottom bar*/
    .mobilebar{
        display: none;
    }
}

